 /* CreateRoom.css */

.create-room-form {
    padding: 20px; /* Padding around the form */
}

.modal-content {
    background-color: #2b2b2b; /* Dark background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Darker shadow for depth */
}

.modal-header {
    background-color: #1f1f1f; /* Darker header background color */
    color: #e0e0e0; /* Light header text color */
    border-top-left-radius: 8px; /* Rounded corners for the header */
    border-top-right-radius: 8px;
    padding: 15px; /* Padding inside the header */
    border-bottom: 1px solid rgba(255,255,255,0.2); /* Light bottom border */
}

.modal-body {
    padding: 20px; /* Padding inside the modal body */
}

.form-group {
    margin-bottom: 20px; /* Vertical spacing between form groups */
}

.btn-close-white {
    color: #e0e0e0; /* Light close button text color */
    opacity: 1; /* Ensure full opacity */
}

.btn-close-white:hover {
    color: #ffffff; /* White hover color */
    opacity: 0.75; /* Reduce opacity on hover */
}

.btn-primary {
    background-color: #032e5c; /* Darker button background color */
    border-color: #002c5c; /* Darker button border color */
}

.btn-primary:hover {
    background-color: #021e3b; /* Even darker background color on hover */
    border-color: #011529; /* Even darker border color on hover */
}
